* {
    margin: 0;
    padding: 0;
}

.menu {
    margin-top: 75px;
    height: 148px;
    background: #F8F3F4;
}

.menu__wrapp {
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__left {
    font-family: "Lato";
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.menu__right a {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    font-family: "Lato light";
}

.menu__right a:hover {
    text-decoration: none;
    color: #F16D7F;
}

a.arrivals {
    font-family: "Lato black";
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.items__catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.items__wrapp {
    margin: 0 auto;
    max-width: 1140px;
}

.product {
    background-color: #F8F8F8;
    box-sizing: border-box;
    position: relative;
}

.product__text {
    padding-left: 17px;
}

.product__title {
    font-family: "Lato";
    font-size: 13px;
    line-height: 16px;
    margin-top: 24px;
}

.description {
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 13px;
    font-family: "Lato";
    max-width: 315px;
}

.prod {
    width: 100%;
    max-width: 360px;
    margin: 0;
}

.cost {
    margin-top: 18px;
    font-family: "Lato";
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-bottom: 20px;
}

.items__title {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    font-family: "Lato";
    font-weight: normal;
}

.items__subtitle {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    font-family: "Lato";
    text-align: center;
    font-weight: normal;
}
  
.prod__picture {
    position: relative;
    width: 100%;
}
  
.prod__img {
    max-width: 100%;
    height: auto;
    align-self: flex-start;
}
  
  .prod__hover {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(58, 56, 56, 0.86);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }
  
  .prod__picture:hover .prod__hover {
    text-decoration: none;
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .prod__btn {
      background: none;
      max-width: 138px;
      height: 43px;
      border: 1px solid #ffffff;
      font-family: "Lato";
      font-size: 14px;
      color: #ffffff;
      padding: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      
    }

    .prod__btn:hover {
        cursor: pointer;
        background-color: #F16D7F;
        transition: 0.3s ease;
    }

    .add {
        margin-left: 7px;
    }

.navigate {
    height: 132px;
}
    
.navigate__wrapp {
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    gap: 392px;
    align-items: center;
}

.navigate__list {
    position: relative;
}

.filter {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    font-family: "Lato";
    display: block;
    position: absolute;
    user-select: none;
    cursor: pointer;
    max-height: 30px;
    overflow: hidden;
    transition: max-height 0.5s ease-in;
}

.filter summary::-webkit-details-marker {
    display: none;
  }

.filter summary::-moz-list-bullet {
    list-style: none;
}

.filter__summary, .category__summary {
    outline: none;
}

.filter__list {
    display: flex;
    gap: 48px;
    list-style-type: none;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    font-family: "Lato";
    position: absolute;
}

.filter[open] {
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
    display: block;
    user-select: none;
    width: 360px;
    max-height: 531px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    top: -13px;
    left: -16px;
    padding-top: 13px;
    padding-left: 16px;
    box-sizing: border-box;
    color: #EF5B70;
    font-weight: normal;
    transition: color 0.2s ease-out;
}

  