* {
    margin: 0;
    padding: 0;
}

.menu__catalog {
    margin-top: 75px;
    height: 148px;
    background: #F8F3F4;
}

.menu__wrapp__catalog {
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__left__catalog {
    font-family: "Lato";
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.menu__right__catalog a {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    font-family: "Lato light";
}

.menu__right__catalog a:hover {
    text-decoration: none;
    color: #F16D7F;
}

a.arrivals {
    font-family: "Lato black";
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.items__catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.items__wrapp {
    margin: 0 auto;
    max-width: 1140px;
}

.product {
    background-color: #F8F8F8;
    box-sizing: border-box;
    position: relative;
}

.product__text {
    padding-left: 17px;
}

.product__title {
    font-family: "Lato";
    font-size: 13px;
    line-height: 16px;
    margin-top: 24px;
}

.description {
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 13px;
    font-family: "Lato";
    max-width: 315px;
}

.prod {
    width: 100%;
    max-width: 360px;
    margin: 0;
}

.cost {
    margin-top: 18px;
    font-family: "Lato";
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-bottom: 20px;
}

.items__title {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    font-family: "Lato";
    font-weight: normal;
}

.items__subtitle {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    font-family: "Lato";
    text-align: center;
    font-weight: normal;
}
  
.prod__picture {
    position: relative;
    width: 100%;
}
  
.prod__img {
    width: 100%;
    height: auto;
    align-self: flex-start;
}
  
  .prod__hover {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(58, 56, 56, 0.86);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }
  
  .prod__picture:hover .prod__hover {
    text-decoration: none;
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 420px;
    height: 100%;
  }

  .prod__btn {
      background: none;
      max-width: 138px;
      height: 43px;
      border: 1px solid #ffffff;
      font-family: "Lato";
      font-size: 14px;
      color: #ffffff;
      padding: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      
    }

    .prod__btn:hover {
        cursor: pointer;
        background-color: #F16D7F;
        transition: 0.3s ease;
    }

    .add {
        margin-left: 7px;
    }

.navigate {
    height: 132px;
}
    
.navigate__wrapp {
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    gap: 392px;
    align-items: center;
}

.navigate__list {
    position: relative;
}

.filter {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    font-family: "Lato";
    display: block;
    position: absolute;
    user-select: none;
    cursor: pointer;
    max-height: 30px;
    overflow: hidden;
}

summary::-webkit-details-marker {
    display: none;
  }

summary::-moz-list-bullet {
    list-style: none;
}

summary {
    outline: none;
}

.filter__summary, .category__summary {
    outline: none;
}

.filter__summary {
    font-family: "Lato black";
    display: flex;
    align-items: center;
    gap: 11px;
}

.filter__list {
    display: flex;
    gap: 48px;
    list-style-type: none;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    font-family: "Lato";
    position: absolute;
    cursor: pointer;
}

.filter[open] {
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
    display: block;
    user-select: none;
    width: 360px;
    max-height: 1560px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    top: -13px;
    left: -16px;
    padding-top: 13px;
    padding-left: 16px;
    box-sizing: border-box;
    color: #EF5B70;
    font-weight: normal;
    transition: overflow 0.5s cubic-bezier(0.33, 1, 0.68, 1);
    transition: max-height 11s cubic-bezier(0.33, 1, 0.68, 1);
}

.category__summary {
    border-left: 5px solid #EF5B70;
    padding: 12px;
    border-bottom: 1px solid #EBEBEB;
    margin: 12px 15px 12px 0;
}

.filter__category__list {
    font-family: "Lato";
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin: 11px 17px;
    list-style-type: none; 
}

.category__big__list {
    margin-top: 24px;
    margin-bottom: 24px;
}  

.category__open {
    max-height: 54px;
    overflow: hidden; 
    margin-bottom: 6px;
}

.category__open[open] {
    max-height: 380px;
    transition: overflow 0.8s ease-in-out;
    transition: max-height 0.8s cubic-bezier(0.33, 1, 0.68, 1);
}

.filter__size__check {
    outline: none;
    display: block;
    position: absolute;
    user-select: none;
    cursor: pointer;
    max-height: 103px;
    overflow: hidden;
    height: 100%;
}

.filter__size__check[open] {
    max-height: 103px;
    height: 100%;
    z-index: 2;
    position: absolute;
    overflow: visible;
    transition: overflow 0.8s ease-in-out;
    transition: max-height 0.8s cubic-bezier(0.33, 1, 0.68, 1);
}

.size__choice {
    transition: max-height 0.8s cubic-bezier(0.33, 1, 0.68, 1);
    width: 79px;
    margin-top: 5px;
    margin-left: -8px;
    background: #FFFFFF;
    padding: 7px 0 11px 9px;
    box-shadow: 6px 4px 35px rgba(98, 20, 20, 0.21);
    z-index: 2;
    position: absolute;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
}

.check {
    background-color: #FFFFFF;
    border: 1px solid #EBEBEB;
    margin-right: 10px;
    margin-top: 7px;
}

.price {
    margin-left: 30px;
}

.marker {
    width: 15px;
}

.marker.fill {
    fill: #EF5B70;
}

.pages__wrapp {
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 48px auto;
}

.ruler {
    display: flex;
    list-style-type: none;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    padding: 12px;
    gap: 23px;
    align-items: center;
    box-sizing: border-box;
}

.ruler__number.first {
    color: #EF5B70;
}

.ruler__number {
    font-size: 16px;
    line-height: 19px;
    font-family: "Lato light";
    color: #EBEBEB;
    cursor: pointer;
}

.ruler__vector {
    max-height: 16px;
    height: 100%;
    cursor: pointer;
}

@media screen and (max-width: 769px) and (min-width: 716px) {
    .menu__wrapp__catalog {
        max-width: 704px;
    }

    .navigate__wrapp {
        max-width: 704px;
    }

    .items__catalog {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 5px;
        padding-right: 5px;
    }

    .last-child {
        display: none;
    }
}

@media screen and (max-width: 715px) and (min-width: 376px) {
    .menu__wrapp__catalog {
        max-width: 415px;
    }

    .items__catalog {
        grid-template-columns: 1fr;
        justify-content: center;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .navigate__wrapp {
        max-width: 705px;
        gap: 100px;
    }

    .filter__list {
        font-size: 12px;
        line-height: 14px;
        justify-content: space-between;
    }

    .navigate__wrapp {
        max-width: 410px;
        gap: 100px;
    }
}

@media screen and (max-width: 376px) {
    .menu__wrapp__catalog {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navigate__wrapp {
        max-width: 343px;
        gap: 100px;
    }

    .items__catalog {
        grid-template-columns: 1fr;
    }

    .summary__title {
        display: none;
    }

    .filters__marker {
        height: 30px;
    }

    .marker {
        width: 37px;
    }

    .filter__list {
        font-size: 12px;
        line-height: 14px;
        gap: 23px;
    }
}
