.top {
    background: #F1E4E6;
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

.top__wrapp {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
}

.man {
    width: 50%;
}

.badboy {
    width: 100%;
}

.main {
    display: flex;
    align-items: center; 
    width: 50%;
}

.name {
    max-width: 377px;
    display: flex;
    flex-direction: column;
    margin-left: 64px;
    padding-left: 16px;
    border-left: 12px solid #F16D7F;
    margin-right: 34px;
}

.one {
    font-family: "Lato";
    color: #222222;
    font-size: 48px;
    line-height: 58px;
}

.two {
    font-family: "Lato black";
    color: #222222;
    font-size: 32px;    
}

.pink {
    color: #F16D7F;
}

.catalog {
    max-width: 1140px;
    margin: 0 auto;
}

.clothes {
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1140px;
    width: 100%;
}

.opac {
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: absolute;
}

.opac2 {
    opacity: 0.9;
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
}

.women {
    position: relative;
    height: 260px;
    background-image: url(img/woman.png);
    background-size: auto 100%;
    transition: background-size 0.5s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
}

.catalog__caption {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    
}

.acces__caption {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    text-decoration: none;
}

.acces__wrapp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}


.details {
    font-family: "Lato";
    font-size: 16px;
    color: #FFFFFF;
}

.catalog__category {
    font-family: "Lato black";
    font-size: 24px;
    color: #F16D7F;
}

.men {
    position: relative;
    height: 260px;
    background-image: url(img/men.png);
    background-size: auto 100%;
    transition: background-size 0.5s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
}
.kids {
    position: relative;
    height: 260px;
    background-image: url(img/rids.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.accesories {
    position: relative;
    height: 180px;
    margin-top: 30px;
    background-image: url(img/acces.png);
    background-size: auto 100%;
    transition: background-size 0.5s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
}

a:-webkit-any-link {
    text-decoration: none;
}

.women:hover {
    background-size: auto 120%;
    transition: background-size 0.5s ease-in-out;
    cursor: pointer;
}

.men:hover {
    background-size: auto 120%;
    transition: background-size 0.5s ease-in-out;
    cursor: pointer;
}

.kids:hover {
    background-size: auto 120%;
    transition: background-size 0.5s ease-in-out;
    cursor: pointer;
}

.accesories:hover {
    background-size: auto 120%;
    transition: background-size 0.5s ease-in-out;
    cursor: pointer;
}

.items {
    margin-top: 96px;
}

.items__catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
    justify-content: center;
    gap: 30px;
    margin-top: 48px;
}

.items__wrapp {
    margin: 0 auto;
    max-width: 1140px;
    padding-left: 5px;
    padding-right: 5px;
}

.product {
    background-color: #F8F8F8;
    box-sizing: border-box;
    max-width: 360px;
    width: 100%;
}

.product__text {
    padding-left: 17px;
}

.product__title {
    font-family: "Lato";
    font-size: 13px;
    line-height: 16px;
    margin-top: 24px;
}

.description {
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 13px;
    font-family: "Lato";
    max-width: 315px;
}

.cost {
    margin-top: 18px;
    font-family: "Lato";
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-bottom: 20px;
}

.items__title {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    font-family: "Lato";
    font-weight: normal;
}

.items__subtitle {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    font-family: "Lato";
    text-align: center;
    font-weight: normal;
}

.browse__but {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.browse {
    border: 1px solid #FF6A6A;
    width: 211px;
    height: 47px;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    font-family: "Lato";
    margin-top: 49px;
    background-color: #FFFFFF;
    transition-property: all;
    transition-duration: 0.3s;
}

.browse:hover {
    background-color: #F26376;
    color: #FFFFFF;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
}

.prod__picture {
    position: relative;
    width: 100%;
    max-width: 360px;
}
  
.prod__img {
    max-width: 100%;
    
}
  
  .prod__hover {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(58, 56, 56, 0.86);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }
  
  .prod__picture:hover .prod__hover {
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 420px;
    height: 100%;
  }

  .prod__btn {
      background: none;
      max-width: 138px;
      height: 43px;
      border: 1px solid #ffffff;
      font-family: "Lato";
      font-size: 14px;
      color: #ffffff;
      padding: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
    }

    .prod__btn:hover {
        cursor: pointer;
        background-color: #F16D7F;
        transition: 0.3s ease;
    }

    .add {
        margin-left: 7px;
    }  

    @media screen and (max-width: 769px) and (min-width: 377px) {

        .man {
            display: none;
        }

        .main {
            width: 100%;
        }

        .top {
            height: 363px;
        }

        .clothes {
            grid-template-columns: minmax(190px, 350px) minmax(190px, 350px);
            height: 100%;
            justify-content: center;
        }

        .kids {
            grid-column-start: 1;
            grid-column-end: 3;
            background-size: 100%;
        }

        .kids:hover {
            background-size: 120%;
        }

        .opac {
            min-width: 100%;
            width: 100%;
        }

        .one {
            font-size: 38px;
            line-height: 46px;
        }

        .two {
            font-size: 20px;
            line-height: 24px;
        }

        .accesories {
            max-width: 730px;
            margin: 30px auto;
        }
    }

    @media screen and (max-width: 376px) {
        .clothes {
            grid-template-columns: 1fr;
            height: 100%;
            max-width: 343px;
            margin: 64px auto 0 auto;
        }

        .top {
            height: 363px;
        }

        .man {
            display: none;
        }
    
        .badboy {
            overflow: hidden;
        }

        .main {
            width: 100%;
            height: 100%;
        }
        
        .name {
            justify-content: center;
            width: 236px;
        }

        .one {
            font-size: 38px;
            line-height: 46px;
        }

        .two {
            font-size: 20px;
            line-height: 24px;
        }

        .accesories {
            max-width: 343px;
            margin: 30px auto 0 auto;
        }
    }
    
