* {
    margin: 0;
    padding: 0;
}

*::selection {
    color: #FFFFFF;
    background: #F16D7F;
}

/*панель навигации*/

.navbar {
    width: 100%;
    background: #222222;
    height: 75px;
    position: fixed;
    top: 0;
    z-index: 5;
}

.navbar__wrapp {
    max-width: 1140px;
    margin: auto;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    margin-right: 41px;
}

.right {
    margin-left: 33px;
}

/*подключение шрифтов*/

@font-face {
    font-family: "Lato";
    src: url(font/Lato-Regular.ttf);
}

@font-face {
    font-family: "Lato black";
    src: url(font/Lato-Bold.ttf);
}

.footer {
    width: 100%;
    background: #222224;
    height: 79px;
}

.footer__wrapp {
    max-width: 1140px;
    margin: auto;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__right {
    display: flex;
    gap: 7px;
}

.icons {
    background-color: #FFFFFF;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #222224;
    transition-property: all;
    transition-duration: 0.3s;
}

.icons:hover {
    background-color:#F16D7F;
    fill: #FFFFFF;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
}

@font-face {
    font-family: "Lato light";
    src: url(font/Lato-Light.ttf);
}

.copy {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.feature {
    background-color: #222224;
    margin-top: 96px;
    padding: 104px;
}

.feature__wrapp {
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-wrap: wrap;
}

.footer__wrapp {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__subscribe {
    height: 448px;
    background-image: url(img/photosubscribe.png);
    width: 100%;
    background-position: center;
    background-size: cover;
}

.subscribe__wrapp {
    max-width: 1140px;
    margin: 0 auto; 
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.h__inform {
    font-family: "Lato";
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center;
    margin-top: 28px;
}

.p__inform {
    font-family: "Lato light";
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    margin-top: 16px;
}

.feature__inform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 340px;
    margin: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__text {
    text-align: center;
    margin-top: 30px;
    font-family: "Lato";
    font-size: 20px;
    line-height: 24px;
    color: #222224;
}

.photo {
    display: flex;
    justify-content: center;
}

.form {
    flex-grow: 0.5;
}

.submit {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.but__sub {
    width: 100px;
    height: 49px;
    background: #F16D7F;
    border: none;
    font-family: "Lato";
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border-radius: 0 25px 25px 0;
    transition-property: all;
    transition-duration: 0.3s;
    outline: none;
}

.but__sub:hover {
    background-color: #E05C6E;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
}

.inp__sub {
    box-sizing: border-box;
    width: 256px;
    background-color: #E1E1E1;
    border: none;
    border-radius: 25px 0 0 25px;
    padding-left: 22px;
    outline: none;
}

.h__form {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.h__sub {
    font-family: "Lato black";
    font-size: 24px;
    line-height: 37.73px;  
}

.p__sub {
    font-family: "Lato";
    font-size: 18px;
    line-height: 30.1px;
}

.icon__footer {
    max-width: 47px;
    width: 100%;
}

.icon__footer__div {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1025px) and (min-width: 769px) {
    .navbar__wrapp {
        max-width: 1000px;
    }

    .footer__wrapp {
        max-width: 1000px; 
    }

}

@media screen and (max-width: 769px) and (min-width: 426px) {
    .navbar__wrapp {
        max-width: 704px;
    }

    .footer__wrapp {
        max-width: 704px; 
    }

    .subscribe__wrapp {
        flex-direction: column;
        gap: 48px;
        padding-top: 48px;
    }

    .footer__subscribe {
        height: 693px;
    }
}

@media screen and (max-width: 427px) and (min-width: 377px) {
    .navbar__wrapp {
        max-width: 415px;
    }

    .feature {
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer__wrapp {
        max-width: 415px; 
    }
}

@media screen and (max-width: 376px) {
    .navbar__wrapp {
        max-width: 343px;
    }

    .registration {
        display: none;
    } 

    .basket {
        display: none;
    }

    .footer {
        height: 143px;
    }

    .footer__wrapp {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 50px;
        height: 100%;
    }

    .feature {
        padding-left: 15px;
        padding-right: 15px;
    }


}